* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* pagination */
.row {
    width: 80%;
    margin: 8px auto;
}

.product {
    display: inline-block;
    width: calc(33% - 6px);
    margin-right: 9px;
}

.product:last-child {
    margin-right: unset;
}


/* container for images and tags */
.images {
    position: relative;
}

img {
    width: 100%;
}

/* image hover effect  */
.second-img {
    display: none;
}
.images:hover .first-img {
    display: none;
}
.images:hover .second-img {
    display: unset;
}


/* tags */
.heart {
    position: absolute;
    top: 20px;
    right: 0;

    width: 48px;
    height: 48px;
    background-color: #fff;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
}
